<html>
    <head>
        <title>Add Course Page</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="author" content="Alan Zhai, Jennifer Liao">
        <meta name="description" content="edit">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Need the following three lines in order for nav bar to work: https://stackoverflow.com/questions/45756307/bootstrap-4-toggle-button-not-working/45756365 -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>        
    </head>
    
    <!-- Header Navigation Bar, resource: https://getbootstrap.com/docs/4.2/components/navbar/#how-it-works-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h3> {{title}}</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost/CS-4640-Project/PHP/schedulePage.php">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/CS-4640-Project/PHP/loginPage.php">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" a href="http://localhost/CS-4640-Project/PHP/requirementsPage.php">Requirements</a>
            </li>
          </ul>
        </div>
     </nav>


    <div class="container" style="text-align: center;">
        <!-- title box -->
        <div [ngClass] = "'title'">
            <h3 [ngClass]="'titleText'">
                Adding a Class
            </h3>
        </div>
        
      <!-- a form -->
      <form #courseForm="ngForm" name="editForm" method="post">
        <div [ngClass]="'form'">

            <div [ngClass] = "'boxSpacing'" class="form-group">
                <!-- Category-->
                <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">
                    <label for="Category">Category of Course</label>
                </div>
                <select [(ngModel)]="courseModel.category" id="Category" name="category" class="form-control"> 
                    <option *ngFor="let element of categoriesArray">{{element}}</option>
                </select>             
            </div>
            
            <div [ngClass] = "'boxSpacing'" class="form-group">
                <!-- courseID -->
                <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">
                    <label for="courseID">Course Mnemonic</label>
                </div>
                <input [(ngModel)]="courseModel.courseID" type="text" class="form-control" id="courseID" name="courseID">
            </div>

            <div [ngClass] = "'boxSpacing'" class="form-group">
                <!-- courseName -->
                <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">                
                    <label for="Course name">Course Name</label>
                </div>
                <input [(ngModel)]="courseModel.courseName" type="text" class="form-control" id="courseName" name="courseName">
            </div>   

            <div [ngClass] = "'boxSpacing'" class="form-row">
                <div class="form-group col-md-4">
                    <!-- taken -->
                    <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">                
                        <label for="taken">Class Taken?</label>
                    </div>
                    <select [(ngModel)]="courseModel.taken" id="taken" name="taken" class="form-control"> 
                        <option value=1>Yes</option>
                        <option value=0>No </option>

                    </select>
                </div>

                <div class="form-group col-md-4">
                    <!-- semester -->
                    <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">                
                        <label for="semester">Semester</label>
                    </div>
                    <select [(ngModel)]="courseModel.semester" id="semester" name="semester" class="form-control">
                        <option value="">None</option>
                        <option *ngFor="let element of semestersArray">{{element}}</option>
                    </select>                    
                </div>

                <div class="form-group col-md-4">
                    <!-- grade -->
                    <div [ngStyle] = "{'background-color':'lightgrey', 'font-weight':'bold'}">                
                        <label for="grade">Grade</label>
                    </div>
                    <select [(ngModel)]="courseModel.grade" id="grade" name="grade" class="form-control"> 
                        <option value="">Not Taken</option>
                        <option *ngFor="let element of gradesArray">{{element}}</option>
                    </select>
                </div>

                <!-- hidden email input -->
                <input [(ngModel)]="courseModel.email" type="hidden" class="form-control" id="email" name="email">

            </div>   
        </div>
            <!-- Confirmation message box display -->
            <div *ngIf="done" [ngStyle] = "{'background-color':'lightblue'}" class = "form-row-center">
                <hr/>
                <h3 [ngClass] = "'confirmation'" [ngStyle] = "{'font-weight':'bold'}">Class Addition Confirmation</h3>
                Confirmed:
                  <font color="green" style="font-style:italic">
                    <!-- If confirm_msg is not empty, display confirm message, otherwise, display default text -->
                    {{ (confirm_msg.length > 0)? confirm_msg : 'Display your confirmation message' }}</font> <br/>
                <br/>
                <hr/>
                
            </div>

            <!-- Submission buttons -->
            <div [ngClass] = "'boxSpacing'" class="form-row-center">
                <button *ngIf="!done" type="submit" (click)="confirmSubmit(courseForm.value)" value="submit" name="action" class="btn btn-primary">Submit Changes</button>
                <input *ngIf="done" type="submit" (click)="redirect()" value="Close" name="action" class="btn btn-secondary" />
            </div>
        </form>          
    </div>
    <script>
        console.log("help");
        console.log(sessionStorage.getItem("user"));
        console.log("Hello");
    </script>    

</html>